<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPersistenceFrameworkVersion</key>
	<integer>251</integer>
	<key>NSStoreModelVersionHashes</key>
	<dict>
		<key>AbstractInOutPatch</key>
		<data>kXduvzH95H1RB8Y7q/cJ7ZZOIg7YzkxL2Si/Jy3zx9I=</data>
		<key>AbstractInOutPatchChannel</key>
		<data>b4KJEcEIBNKjhGWT0FGnbNs2y2f7VHKxlgrt1caLQZc=</data>
		<key>AudioSource</key>
		<data>P2nCH6rcBXgKmfnuqGuESuhv3l278ezn6mE+o5ch/qU=</data>
		<key>CartesianEvent</key>
		<data>K830sUPnxXdFfiohL8rooqj2dDVx0SJ+xv5AHwBz+4o=</data>
		<key>ChannelGroup</key>
		<data>civHpqYv0SSfW2Y3L2/6Wm8pftCNogA8Bq8VHde2mdo=</data>
		<key>ChannelImage</key>
		<data>Z3QvRgAE9gDcOnzdYdpjFTXovu3/5URsFavSNETXPtM=</data>
		<key>ChannelMap</key>
		<data>LZWMK+nbTwt9msROAr0mNWlLAuubPg/JvxjxWreoxbI=</data>
		<key>DirectOutChannel</key>
		<data>Rzs+XD5DZxZ+RK0Ur7I9UfpmqMt3WfAGrf8+k8wjEbg=</data>
		<key>DirectOutPatch</key>
		<data>irod07lxEE93/IUngUOxJMMO7qos75qCJyQTv800T1o=</data>
		<key>DirectOutPatchChannel</key>
		<data>PaHI3sE4rBNGsp8BWB1IzKV4GmndEfNjMyalEAjDzJU=</data>
		<key>Event</key>
		<data>hFa684qgmXO6//90cS/VQqPqqCTabmdJNXOrbQR38SU=</data>
		<key>EventContainer</key>
		<data>WgEIGrOuskhTu7DbGvBUqXiWy/2bPBwjlUa7iF4Ca7o=</data>
		<key>FileSource</key>
		<data>kHMjI8demc+K2mtxLmERrCxMb9Q5C3HMrXp3zXoBgD4=</data>
		<key>Graph</key>
		<data>9PRQLGJNSOcybXcMUqBPN64xcZI1yD1Z71cHHmaJz5I=</data>
		<key>GraphChannel</key>
		<data>bmbaabv2Fh8Poe3m/0UlsJaRFi2dI4ASHqoKcRpxXSc=</data>
		<key>InputPatch</key>
		<data>CG3oh9eFBNf+fZZzcLcHn17lv+txphJGxWqHqZMtdBA=</data>
		<key>InputPatchChannel</key>
		<data>+m7WzCHx1yy9zpbdnKFsN7uw9ifSJNQxk8fjxJIgAtk=</data>
		<key>InputSource</key>
		<data>N5qN/U0inj8Fvd4yKFEA7Q7hrvYFeIczWksOeSn+Dn0=</data>
		<key>OSCConfiguration</key>
		<data>DVWLgHnh7IERKf7YlIuRLlW4nUeMRJJKgGL4rtaL1eU=</data>
		<key>OSCReceiver</key>
		<data>yOSH/TrL27fAKXT/F69fKMhheapI/ajanlsWnbmKtms=</data>
		<key>OSCSender</key>
		<data>4suld6kDVa2IUbArkaEgfORtAhmP/o1K2OxRsVdBgtI=</data>
		<key>OutputPatch</key>
		<data>1fhysEKc7/JA3kRsAgXuJ54IRvB6aLHdk5Jt/p0L+J8=</data>
		<key>OutputPatchChannel</key>
		<data>7MKY6GlE1TjRs3+ZUh9NKolOirrFd4gK3bg6i/z6+40=</data>
		<key>PositionEvent</key>
		<data>zgBW5wWoGK06NCj1NRsDddFr7Kt/NhJBAlCEt8fpC+E=</data>
		<key>Room</key>
		<data>Ypps+w8Sq3nKZgB8HzXW4jdVmIKnYhKReghyN6i8psA=</data>
		<key>SimpleMap</key>
		<data>EB41DgL+FsKnEiRSPceI+od46cfDXZpfvWRA4jHQJP0=</data>
		<key>Speaker</key>
		<data>wFo3tpUD5c3hfyVFjROgJQgtjvBuM0p4hBdbgoLczCY=</data>
		<key>SpeakerRing</key>
		<data>J9+tYX+H4Li+F0VNIltKbRcaJ5g6Fk7iQQNCqfOBEuM=</data>
		<key>SpeakerSetup</key>
		<data>5dBYWlG6+TbCDPRhfXnW1YsS9Yic/tCyulE+Yt6sNEM=</data>
		<key>TestSource</key>
		<data>CxMLdxqcp4KhKAuZW03wP9MeNcImC06zZM5XcotHeM4=</data>
	</dict>
	<key>NSStoreModelVersionHashesVersion</key>
	<integer>3</integer>
	<key>NSStoreModelVersionIdentifiers</key>
	<array/>
	<key>ZKMRNPieceVersionKey</key>
	<integer>2</integer>
</dict>
</plist>
