<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>CocoaDomeView</string>
	<key>CFBundleIdentifier</key>
	<string>de.zkm.audiounit.Zirkalloy</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>NSMainNibFile</key>
	<string>CocoaView</string>
	<key>NSPrincipalClass</key>
	<string>Zirkalloy_ViewFactory</string>
</dict>
</plist>
